### CS 457 - Homework Assignment 4: Statistical Inference
### Shahzaib Amir
### Email Address: sa05578@st.habib.edu.pk

In [4]:
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
df = pd.read_csv('EmployeeAttrition.csv')
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,...,80,0,8,0,1,6,4,0,5,Yes
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,...,80,1,10,3,3,10,7,1,7,No
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,...,80,0,7,3,3,0,0,0,0,Yes
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,...,80,0,8,3,3,8,7,3,0,No
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,...,80,1,6,3,3,2,2,2,2,No

p-value helps us in Hypothesis Testing. It helps us to decide whether to opt for the Null Hypothesis or the Alternative Hypothesis.

If the p-value is greater than 0.05, we accept the Null Hypothesis.

If the p-value is less than 0.05, we reject the Null Hypothesis and accept the Alternative Hypothesis.

Part 1: If the MonthlyIncome of Males is greater than Females

H0 = The MonthlyIncome of Males is less than Females

Ha = The MonthlyIncome of Males is greater than or equal to Females

Since we have equal sample sizes and two sample/columns to do the Hypothesis Testing, we will be using Two Sample t-test

In [6]:
male = df[(df['Gender']=='Male')]['MonthlyIncome']
female = df[(df['Gender']=='Female')]['MonthlyIncome']

In [7]:
stats.ttest_ind(male, female)

Ttest_indResult(statistic=-1.2212617308870655, pvalue=0.22218303455087904)

Part 1 Conclusion:

P-Value > 0.05 => We accept the Null Hypothesis H0: The MonthlyIncome of Males is greater than or equal to Females.

### XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

Part 2: If the WorkLifeBalance of Males is less than Females

H0 = The WorkLifeBalance of Males is greater than or equal to Females

Ha = The WorkLifeBalance of Males is less than Females

Since we have equal sample sizes and two sample/columns to do the Hypothesis Testing, we will be using Two Sample t-test

In [8]:
work_male = df[(df['Gender']=='Male')]['WorkLifeBalance']
work_female = df[(df['Gender']=='Female')]['WorkLifeBalance']

In [9]:
stats.ttest_ind(work_male, work_female)

Ttest_indResult(statistic=-0.10546787956064164, pvalue=0.9160189649366257)

Part 2 Conclusion:

P-Value > 0.05 => We accept the Null Hypothesis H0: The WorkLifeBalance of Males is greater than or equal to Females.

### XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

Part 3: If the YearsAtCompany of Single is less than Married

H0 = The YearsAtCompany of Single is greater than or equal to Married

Ha = The YearsAtCompany of Single is less than Married

Since we have equal sample sizes and two sample/columns to do the Hypothesis Testing, we will be using Two Sample t-test

In [10]:
years_male = df[(df['Gender']=='Male')]['YearsAtCompany']
years_female = df[(df['Gender']=='Female')]['YearsAtCompany']

In [11]:
stats.ttest_ind(years_male, years_female)

Ttest_indResult(statistic=-1.140248979316475, pvalue=0.2543685843687164)

Part 3 Conclusion:

P-Value > 0.05 => We accept the Null Hypothesis H0: The YearsAtCompany of Single is greater than or equal to Married.

### XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

Part 4: If the EnvironmentalSatisfaction of Attrition=Yes is less than Attrition=No

H0 = If the EnvironmentalSatisfaction of Attrition=Yes is greater than or equal to Attrition=No

Ha = If the EnvironmentalSatisfaction of Attrition=Yes is less than Attrition=No

Since we have equal sample sizes and two sample/columns to do the Hypothesis Testing, we will be using Two Sample t-test

In [12]:
env_att_Y = df[(df['Attrition'] == 'Yes')]['EnvironmentSatisfaction']
env_att_N = df[(df['Attrition'] == 'No')]['EnvironmentSatisfaction']

In [13]:
stats.ttest_ind(env_att_Y, env_att_N)

Ttest_indResult(statistic=-3.9818600026818496, pvalue=7.17233854936886e-05)

Part 4 Conclusion:

P-Value < 0.05 => We reject the Null Hypothesis and accept the Alternative Hypothesis Ha: The EnvironmentalSatisfaction of Attrition=Yes is less than Attrition=No.

### XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

Part 5: If the MonthlyIncome of Manager is greater than Laboratory Technician (Hint: Use
JobRole to find Manager and Laboratory Technician)

H0 = If the MonthlyIncome of Manager is less than to Laboratory Technician

Ha = If the MonthlyIncome of Manager is greater than or equal to Laboratory Technician

Since we have equal sample sizes and two sample/columns to do the Hypothesis Testing, we will be using Two Sample t-test

In [14]:
manager = df[(df['JobRole']=='Manager')]['MonthlyIncome']
lab_technician = df[(df['JobRole']=='Laboratory Technician')]['MonthlyIncome']

In [15]:
stats.ttest_ind(manager, lab_technician)

Ttest_indResult(statistic=76.03317414634023, pvalue=1.9942336668736867e-223)

Part 5 Conclusion:

P-Value < 0.05 => We reject the Null Hypothesis and accept the Alternative Hypothesis Ha: the MonthlyIncome of Manager is greater than or equal to Laboratory Technician.

### XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

Part 6: Is there any association between the Department and Gender?

To check the dependence between two variables/columns we perform the Chi-Square Test. The Null Hypothesis and Alternative Hypothesis is shown below:

H0 (Null Hypothesis) = The columns Department and Gender compared are independent (not associated with each other).

H1 (Alternate Hypothesis) = The columns Department and Gender compared are dependent (associated with each other).

In [16]:
chisqt = pd.crosstab(df['Department'],df['Gender'], margins=True)
chisqt

Gender                  Female  Male   All
Department
Human Resources             20    43    63
Research & Development     379   582   961
Sales                      189   257   446
All                        588   882  1470

In [17]:
value = np.array([chisqt.iloc[0][0:].values,
                  chisqt.iloc[1][0:].values])

In [18]:
stats.chi2_contingency(value)

(1.4709421142834458,
 0.47927963769548776,
 2,
 array([[ 24.54785156,  38.45214844,  63.        ],
        [374.45214844, 586.54785156, 961.        ]]))

In [19]:
chi2, p, dof, ex = stats.chi2_contingency(value)

In [20]:
print("p-value is:", p)

p-value is: 0.47927963769548776

Part 6 Conclusion: 0.4792 is the p-value. As the p-value > 0.05, we accept the NULL hypothesis and assume that the variables ‘Department’ and ‘Gender’ are independent of each other or not associated with each other.